<h1>Corretores</h1>

<app-angular-material-table
  [tableDataSource]="tableDataSource"
  [tableDisplayedColumns]="tableDisplayedColumns"
  [tableActions]="tableActions">

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto</th>
    <td mat-cell *matCellDef="let row">
      <img [src]="row.foto | pathImage: 'corretores'" [alt]="row.nome">
    </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
    <td mat-cell *matCellDef="let row">{{ row.email }}</td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
    <td mat-cell *matCellDef="let row">{{ row.telefone }}</td>
  </ng-container>

  <ng-container matColumnDef="whatsapp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>WhatsApp</th>
    <td mat-cell *matCellDef="let row">{{ row.whatsapp }}</td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let row">{{ row.ativo | activeInactive }}</td>
  </ng-container>

</app-angular-material-table>

<app-crud-actions
  [newShow]="true"
  [backShow]="true"
  (backClicked)="crudActionBack()"
  (newClicked)="crudActionNew()">
</app-crud-actions>
