<mat-action-list>
  <button
    *ngIf="backShow"
    mat-fab
    color="accent"
    matTooltip="Voltar"
    [disabled]="backDisabled"
    (click)="clickBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button
    *ngIf="newShow"
    mat-fab
    color="primary"
    matTooltip="Novo"
    [disabled]="newDisabled"
    (click)="clickNew()">
    <mat-icon>add</mat-icon>
  </button>

  <button
    *ngIf="deleteShow"
    mat-fab
    color="warn"
    matTooltip="Deletar"
    [disabled]="deleteDisabled"
    (click)="clickDelete()">
    <mat-icon>delete</mat-icon>
  </button>

  <button
    *ngIf="saveShow"
    mat-fab
    color="primary"
    matTooltip="Salvar"
    [disabled]="saveDisabled"
    (click)="clickSave()">
    <mat-icon>save</mat-icon>
  </button>
</mat-action-list>
