mat-action-list {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 10;
}

::ng-deep main.panel-content {
  padding-bottom: 8rem !important;
}
