<form fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="2rem" [formGroup]="form">
  <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="nome" placeholder="Informe o nome">
    <mat-error *ngIf="controlNomeHasError">Informe o nome da característica</mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
      <mat-option>Selecione</mat-option>
      <ng-container appCharacteristicTypeOptionSelect (characteristicTypesFinded)="characteristicTypes = $event">
        <mat-option *ngFor="let characteristicType of characteristicTypes" [value]="characteristicType.value">
          {{ characteristicType.name }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="controlTipoHasError">Informe o tipo</mat-error>
  </mat-form-field>
</form>
