<form fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="2rem" [formGroup]="form">
  <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="nome" placeholder="Informe um Nome">
    <mat-error *ngIf="controlNomeHasError">Informe o Nome</mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estadoId">
      <mat-option>Selecione</mat-option>
      <ng-container appStateOptionSelect (dataFinded)="states = $event">
        <mat-option *ngFor="let state of states?.data" [value]="state.id">
          {{ state.nome }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="controlEstadoIdHasError">Informe o Estado</mat-error>
  </mat-form-field>
</form>
