mat-list {
  min-width: 180px;
}

.item-user {
  min-height: 80px;

  .infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-icon {
      margin-right: 0.25rem;
    }
  }
}

