<mat-list *ngIf="session" class="menu">
  <mat-action-list>
    <button class="infos" type="menu" mat-list-item (click)="goAccount()">
      <mat-icon color="warn">account_circle</mat-icon>
      Olá, {{ session.usuario.nome }}.
    </button>

    <button type="menu" mat-list-item (click)="goHome()">
      <mat-icon matListIcon color="primary">home</mat-icon>
      Início
    </button>

    <button *ngIf="showAnnouncement" type="menu" mat-list-item (click)="goAnnouncement()">
      <mat-icon matListIcon color="primary">campaign</mat-icon>
      Anúncios
    </button>

    <button *ngIf="showBanners" type="menu" mat-list-item (click)="goBanners()">
      <mat-icon matListIcon color="primary">image</mat-icon>
      Banners
    </button>

    <button *ngIf="showCities" type="menu" mat-list-item (click)="goCities()">
      <mat-icon matListIcon color="primary">location_on</mat-icon>
      Cidades
    </button>

    <button *ngIf="showBrokers" type="menu" mat-list-item (click)="goBrokers()">
      <mat-icon matListIcon color="primary">groups</mat-icon>
      Corretores
    </button>

    <button *ngIf="showStates" type="menu" mat-list-item (click)="goStates()">
      <mat-icon matListIcon color="primary">map</mat-icon>
      Estados
    </button>

    <button *ngIf="showUsers" type="menu" mat-list-item (click)="goUsers()">
      <mat-icon matListIcon color="primary">people</mat-icon>
      Usuários
    </button>
  </mat-action-list>
</mat-list>
