<mat-list *ngIf="session" class="menu">
  <mat-action-list>
    <button class="infos" type="menu" mat-list-item (click)="navigateAccount()">
      <mat-icon color="accent">account_circle</mat-icon>
      <span class="user-name">Olá, {{ session.usuario.nome }}.</span>
    </button>

    <button type="menu" mat-list-item (click)="navigateHome()">
      <mat-icon matListIcon color="primary">home</mat-icon>
      Início
    </button>

    <button *ngIf="showAnnouncement" type="menu" mat-list-item (click)="navigateAnnouncement()">
      <mat-icon matListIcon color="primary">campaign</mat-icon>
      Anúncios
    </button>

    <button *ngIf="showDistricts" type="menu" mat-list-item (click)="navigateDistricts()">
      <mat-icon matListIcon color="primary">location_on</mat-icon>
      Bairros
    </button>

    <button *ngIf="showBanners" type="menu" mat-list-item (click)="navigateBanners()">
      <mat-icon matListIcon color="primary">image</mat-icon>
      Banners
    </button>

    <button *ngIf="showCharacteristics" type="menu" mat-list-item (click)="navigateCharacteristics()">
      <mat-icon matListIcon color="primary">checklist</mat-icon>
      Características
    </button>

    <button *ngIf="showCities" type="menu" mat-list-item (click)="navigateCities()">
      <mat-icon matListIcon color="primary">location_on</mat-icon>
      Cidades
    </button>

    <button *ngIf="showBrokers" type="menu" mat-list-item (click)="navigateBrokers()">
      <mat-icon matListIcon color="primary">groups</mat-icon>
      Corretores
    </button>

    <button *ngIf="showEnterprises" type="menu" mat-list-item (click)="navigateEnterprises()">
      <mat-icon matListIcon color="primary">apartment</mat-icon>
      Empreendimentos
    </button>

    <button *ngIf="showStates" type="menu" mat-list-item (click)="navigateStates()">
      <mat-icon matListIcon color="primary">map</mat-icon>
      Estados
    </button>

    <button *ngIf="showUsers" type="menu" mat-list-item (click)="navigateUsers()">
      <mat-icon matListIcon color="primary">people</mat-icon>
      Usuários
    </button>
  </mat-action-list>
</mat-list>
