mat-list.menu {
  width: 200px;

  ::ng-deep .mat-button-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .infos {
    margin-bottom: 2rem;

    .user-name {
      font-size: 0.85rem;
    }
  }
}

