@import 'variables';

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  font-size: 0.75rem;
}

td, th {
  width: 25%;
}

th.mat-column-actions,
td.mat-column-actions {
  width: 20px;
  padding-right: 8px !important;
}

.box-buttons {
  margin-bottom: 2rem;

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}

::ng-deep {
  .mat-row:hover .mat-cell {
    background-color: mat-color($gray-100);
  }
}
