.upload-component {
  padding: 2rem;
  border: 2px dashed #e2e2e2;
  background: white;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  .cropper {
    max-width: 500px;
  }

  .cropper,
  .cropped {
    margin-top: 2rem;
    img {
      width: 100%;
      max-width: 300px;
    }
  }
}

.flex-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.photo-loaded {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    position: absolute;
  }

  img {
    width: 100%;
    max-width: 250px;
    transition: 0.25s all;
  }
}

::ng-deep {
  .ngx-ic-overlay {
    outline: none !important;
  }
}
