<form fxLayout="row" [formGroup]="form">
  <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="uf">
      <mat-option>Selecione</mat-option>
      <ng-container appStateBr (statesBrFinded)="statesBr = $event">
        <mat-option  *ngFor="let state of statesBr" [value]="state.uf">
          {{ state.name }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="controlUfHasError">Informe o estado</mat-error>
  </mat-form-field>
</form>
