<h1>Banners</h1>

<app-angular-material-table
  [tableDataSource]="tableDataSource"
  [tableDisplayedColumns]="tableDisplayedColumns"
  [tableActions]="tableActions"
  [tableShowAdvancedSearch]="true"
  (tableMenuActionsClicked)="createActions($event)">

  <app-banner-advanced-search
    advanced-search
    (queryFilterEmitter)="getBanners($event)">
  </app-banner-advanced-search>

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagem</th>
    <td mat-cell *matCellDef="let row">
      <img [src]="row.foto | pathImage: 'banners'" [alt]="row.nome">
    </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
    <td mat-cell *matCellDef="let row">
      <a mat-stroked-button color="accent" [href]="row.link" target="_blank">{{ row.link }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let row">{{ row.ativo | activeInactive }}</td>
  </ng-container>

</app-angular-material-table>

<app-crud-actions
  [newShow]="true"
  [backShow]="true"
  (backClicked)="crudActionBack()"
  (newClicked)="crudActionNew()">
</app-crud-actions>
