<mat-toolbar color="primary">
  <button mat-icon-button type="button" (click)="collapseSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ APP_CONFIG.name }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button type="button" matTooltip="Minha conta" (click)="navitateAccount()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button type="button" matTooltip="Sair" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="showSideNav">
    <app-panel-admin-menu [session]="currentSession"></app-panel-admin-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="panel-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
