<mat-toolbar color="primary">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
      <button mat-icon-button type="button" (click)="onShowMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ APP_CONFIG.nome }}</span>
    </div>
    <button mat-icon-button type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="showMenu">
    <app-menu [session]="currentSession"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
