$heightToolbar: 64px;
$heightToolbarMobile: 56px;

mat-sidenav-container {
  height: calc(100% - $heightToolbar);
}

@media (max-width: 599px) {
  mat-sidenav-container {
    height: calc(100% - $heightToolbarMobile);
  }
}

main.panel-content {
  padding: 1.5rem;
}

.example-spacer {
  flex: 1 1 auto;
}
