<h1>Cidades</h1>

<app-angular-material-table
  [tableDataSource]="tableDataSource"
  [tableDisplayedColumns]="tableDisplayedColumns"
  [tableActions]="tableActions"
  [tableFilterInputTextPlaceholder]="tableFilterInputTextPlaceholder"
  [tableShowAdvancedSearch]="true">

  <app-city-advanced-search
    advanced-search
    (queryFilterEmitter)="getCities($event)">
  </app-city-advanced-search>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
    <td mat-cell *matCellDef="let row">{{ row.estado.nome }}</td>
  </ng-container>

</app-angular-material-table>

<app-crud-actions
  [newShow]="true"
  [backShow]="true"
  (backClicked)="crudActionBack()"
  (newClicked)="crudActionNew()">
</app-crud-actions>
