<app-upload-image-item
  *ngIf="!canSelectVariusFiles; else items"
  [ratio]="ratio"
  [canCropp]="canCropp"
  [canFlipCropp]="canFlipCropp"
  [canSelectVariusFiles]="canSelectVariusFiles"
  [imageUrl]="imagesUrl ? imagesUrl[0] : ''"
  [deleteImageFromApi]="deleteImageFromApi"
  [onlyView]="onlyView"
  [imageQuality]="imageQuality"
  (deleteClicked)="deleteClicked(0)"
  (fileSelected)="fileSelected($event)"
  (deleteImageEmitter)="deleteImageEmitterClick(0)">
</app-upload-image-item>

<ng-template #items>
  <app-upload-image-item
    *ngFor="let item of listComponentsInput; index as index"
    [ratio]="ratio"
    [canCropp]="canCropp"
    [canFlipCropp]="canFlipCropp"
    [canSelectVariusFiles]="canSelectVariusFiles"
    [indexFileOfList]="index"
    [imageUrl]="imagesUrl[index]"
    [deleteImageFromApi]="deleteImageFromApi"
    [onlyView]="onlyView"
    [imageQuality]="imageQuality"
    (deleteClicked)="deleteClicked($event)"
    (fileSelected)="fileSelected($event)"
    (deleteImageEmitter)="deleteImageEmitterClick(index)">
  </app-upload-image-item>

  <div class="buttons" *ngIf="!onlyView">
    <button mat-icon-button type="button" (click)="fileAdd()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</ng-template>
